

.name-shadow,
.services-intro,
.div-info-principal{
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1.5s ease-out;  
}


.show {
    opacity: 1;
    transform: translateX(0);
}





.section-box,
.service-box-2,
.service-titu,
.div-probide,
.main-h2-p{
    opacity: 0;
    transform: translateX(48px);
    transition: all 1.5s ease-out;  
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.service-box-3,
.main-h1{
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.5s ease-out;  
}


.show {
    opacity: 1;
    transform: translateY(0);
}


.cajitas,
.small-box,
.main-h2{
    opacity: 0;
    transform: translateY(80px);
    transition: all 1.5s ease-out;  
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.service-p2,
.img-main{
    opacity: 0;
    transform: translateX(-80px);
    transition: all 1.5s ease-out;  
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.hdj{
    color: #dd3a3a;
}

















