footer{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content:center;
    /* border: 1px solid white; */

    /* overflow: hidden; */
    /* margin-top: 1000px; */
    background-color: rgb(31, 27, 27);
}

.footer-div1{
    width: 25%;
    height: auto;

    display: flex;
    align-items: center;
    /* border: 1px solid white; */
}



.footer-name{
    width: 60%;
    height: auto;
    /* border: 1px solid white; */
    margin-left: 40px;
    color: white;
    font-family: "oswald", sans-serif;
    text-align: center;
    margin-top: -220px;
    font-size: 30px;
}
.footer-logo{
    width: 20%;
    height: auto;
    margin-top: -220px;
    margin-left: 40px;
}

.footer-div2{
    width: 35%;
    height: auto;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:50px;
}

.contact-footer{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-tele{
    width: 5%;
    height: auto;
}

.num{
    /* width: 60%; */
    font-size: 35px;
    color: white;
    font-family: "oswald", sans-serif;
    text-align: center;
    /* border: 1px solid white; */
}
.direccion{
    color: white;
    width: 100%;
    height: auto;

    font-family: "oswald", sans-serif;
    font-size: 35px;
    text-align: center;
}

.mail{
    color: white;
    width: 100%;
    height: auto;

    font-family: "oswald", sans-serif;
    font-size: 35px;

    text-align: center;
}

.copy{
    color: rgb(255, 0, 0);
    font-family: "oswald", sans-serif;
    font-size: 18px;

    /* border: 1px solid white; */
    text-align: center;
}


.redes{
    width: 30%;
    height: auto;

    display: flex;
    justify-content: left;
}

.redes2{
    width: 100%;
    height: auto;
    
}
.red{
    width: 90%;
    height: auto;
    color: red;
}

.div-reserva{
    width: 35%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    /* border: 1px solid white; */
}

.reserva-h1{
    width: 100%;
    height: auto;

    color: white;
    font-family: "oswald", sans-serif;
    text-align: center;
    font-size: 35px;
}
.p-reserva{
    width: 70%;
    height: auto;

    color: white;
    font-family: "oswald", sans-serif;
    font-size: 25px;
}

.btn-reserva{
    width: 15%;
    height: auto;

    color: white;
    background-color: red;
    text-align: center;
    text-decoration: none;

    font-family: "oswald", sans-serif;
    font-size: 25px;
}
