*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.934);
    display: flex;
    flex-direction: column;
    gap: 60px;

    padding: 10px;
}
.header-{
    width: 100%;
    height: auto;

    display:flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
    gap: 10px;
}

.nav-{
    width: 100%;
    height: auto;

    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    border: 1px solid black;
    /* border-radius: 25px; */
    background-color: rgb(31, 31, 31);
}
.menu-btn{
    display: none;
}

.div-logo-name{
    width: 45%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content:center ;

    /* border: 1px solid white; */
}
.logo{
    width: 10%;
    height: auto;
    /* background-color: grey; */
    display:flex;
    align-items: center;
    justify-content: center;
}
.name-company{
    width: 25%;
    height: auto;
    /* background-color: grey; */
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 5px;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style:italic;
    cursor:pointer;
    text-decoration: none;
}
.div-links{
    width: 40%;
    height: auto;

    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

    /* border: 1px solid white; */
}
.link{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    font-family: "oswald",sans-serif;
    padding: 10px;
    border-top:5px solid rgba(255, 0, 0, 0);
}


.link:hover{
    border-top:5px solid red;
    transition: 0.7s ease-in-out ;
}


.btn{
    background-color: red;
    color:white;
    width: 120px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    font-family: "oswald";
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(59, 49, 49);
    transition: 0.4s ease-in-out ;
    /* color: black;
    text-shadow: 1px 1px  rgb(255, 255, 255); */
    
}




.div-header{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.div-parrafo{
    width: 40%;
    height: auto;
}
.div-img{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parrafo-{
    width: 100%;
    height: auto;
    text-align: center;
    color: white;

}
.img-{
    width: 100%;
    height: auto;
    /* border: 1px solid white; */
    background-color: black;
}

.up{
    /* border: 1px solid white; */
    color: red;
    font-size: 25px;
    
    width: 8%;
    height: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
    background-color: rgb(40, 40, 40);
    
    filter: drop-shadow(1px 1px 10px  rgb(255, 255, 255) );
    /* margin-left: 900px; */
    /* margin-bottom: -1000px; */
    /* position:sticky; */
    
}
.close{
    display: none;
}